:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --header-color: #212121;
    --background-white-color: #FFFFFF;
    --backgroubd-color: #2F303A;
    --portfolio-background-buttom: #F5F4FA;
}

body {
    background-color: var(--background-white-color);
    color:var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}
/* -------------- Logo -------------- */
.logo {
color: var(--accent-color); 

font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.logotype {
    color:var(--title-text-color);
}

.contact .contact-link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact .contact-link:hover,
.contact .contact-link:focus{
    color: var(--accent-color);
}

/* -------------- Site nav --------------  */
.site-nav .link {
    color: var(--header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* -------------- Hero -------------- */
.hero .hero-title {
    color: var(--background-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero.icon,
.icon {
    background-color: var(--backgroubd-color);
}
.button {
    color: var(--background-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/* -------------- Section -------------- */
.section .section-title {
    color: var(--header-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.subtitle {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* -------------- Feature -------------- */
.feature-list .title {
    color: var(--header-color);
}
.title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* -------------- Occupation -------------- */

/* -------------- Team -------------- */
.name {
    color: var(--header-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.profession {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.section.team {
    background-color: #F5F4FA;
}
.text-link {
    text-decoration: none;
}

/* Futer */
.logo-light {
    color: var(--background-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
address {
    color: var(--background-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contacts {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.contacts:hover,
.contacts:focus{
    color: var(--accent-color);
}

/* -------------- PORTFOLIO -------------- */
.subject-button {
    color: var(--header-color);
    background-color: var(--portfolio-background-buttom);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.subject-button:hover,
.subject-button:focus {
    color: var(--background-white-color);
    background-color:var(--accent-color) ;
}

.subject-desk {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
}
.section-content {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.list-decoration {
    text-decoration: none;
}